<footer class="footer">
    <div class="copyright">
        <i class="fa fa-copyright"></i>&nbsp;<%= theme.copyright.time %>-<%= time(Date.now(), 'YYYY') %>&nbsp;&nbsp;<i class="fa fa-heart"></i>&nbsp;&nbsp;<%= theme.name %>
    </div>
    <div class="info">
        Powered by <a href="https://hexo.io/">Hexo</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Theme <a href="https://github.com/lolimay/hexo-theme-poet/">Poet</a>
    </div>
    <div class="icp"><%= theme.icp %></div>
</footer>